body {
  font-family: sans;
}

.tree {

}
.tree__placeholder {
  min-width: 20px;
  min-height: 20px;
  background: #ddd;
}
.tree__leaf {
  padding: 0.5rem;
}
.tree__leaf--dragged {
  position: absolute;
}
.tree__branch {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
}
.tree__branch--dragged {
  position: absolute;
}
.tree__branch--row > .tree__content {
  flex-direction: row;
}
.tree__branch--column > .tree__content {
  flex-direction: column;
}
.tree__content {
  display: flex;
}
.tree__handle {
  width: 10px;
  background: #ccc;
}
