body {
  font-family: sans;
}

.list {
  
}
.list__item--dragged {
  position: absolute;
}
.list__item {
  background: white;
  display: flex;
}
.list__handle {
  background: grey;
  width: 0.5rem;
  cursor: pointer;
}
.list__handle:hover {
  background: #ddd;
}
.list__content {
  padding: 10px;
}
.list__placeholder {
  min-height: 25px;
  background: grey;
  box-sizing: border-box;
}
.list__placeholder:hover {
  background: #ddd;
}

.tree {

}
.tree__leaf {
  padding: 0.5rem;
}
.tree__branch {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
}
.tree__branch--row > .tree__content {
  flex-direction: row;
}
.tree__branch--column > .tree__content {
  flex-direction: column;
}
.tree__content {
  display: flex;
}
.tree__handle {
  width: 10px;
  background: #ccc;
}
